<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FundDayLogMapper">
    <resultMap id="BaseResultMap" type="bean.FundDayLog">
        <result column="gztime" property="gztime"></result>
        <result column="id" property="id"></result>
        <result column="fund_code" property="fundCode"></result>
        <result column="gszzl" property="gszzl"></result>

    </resultMap>
    <insert id="insert" parameterType="FundDayLog">
        INSERT INTO `fund_day_log` (fund_code,gszzl,gztime)
        SELECT #{fundCode},#{gszzl},DATE_FORMAT(#{gztime}, '%Y-%m-%d')
        FROM DUAL
        WHERE NOT EXISTS(
        (SELECT *
        FROM fund_day_log
        WHERE fund_code  = #{fundCode} and gztime = DATE_FORMAT(#{gztime}, '%Y-%m-%d'))
        ) ;
    </insert>

</mapper>