<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FundLogMapper">
    <resultMap id="BaseResultMap" type="bean.FundLog">
        <result column="id" property="id"></result>
        <result column="fund_id" property="fundId"></result>
        <result column="fund_name" property="fundName"></result>
        <result column="fund_code" property="fundCode"></result>
        <result column="calc_date" property="calcDate"></result>
        <result column="gszzl" property="gszzl"></result>
        <result column="ear_amount" property="earAmount"></result>
        <result column="modify_time" property="modifyTime"></result>

    </resultMap>


    <select id="queryById" resultMap="BaseResultMap">
        select * from fund_log where fund_id = #{fundId}
    </select>
    <select id="queryByIdAndDate" resultMap="BaseResultMap">
        select * from fund_log where fund_id = #{fundId} and calc_date=#{calcDate}
    </select>

    <insert id="insert" parameterType="FundLog">
        INSERT INTO `fund_log` (fund_id,fund_code,calc_date,gszzl,ear_amount,modify_time)
            values(#{fundId},#{fundCode},#{calcDate},#{gszzl},#{earAmount},sysdate())
    </insert>

    <insert id="update" parameterType="FundLog">
        update fund_log set fund_id = #{fundId},fund_code = #{fundCode},calc_date = #{calcDate},
        gszzl = #{gszzl},ear_amount = #{earAmount},modify_time = sysdate() where id =#{id}
    </insert>
</mapper>