<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FundMapper">
    <resultMap id="BaseResultMap" type="bean.Fund">
        <result column="id" property="id"></result>
        <result column="fund_code" property="fundCode"></result>
        <result column="fund_name" property="fundName"></result>
        <result column="state" property="state"></result>
        <result column="confirm_time" property="confirmTime"></result>
        <result column="pay_amount" property="payAmount"></result>
        <result column="pay_time" property="payTime"></result>
        <result column="calc_amount" property="calcAmount"></result>
        <result column="calc_time" property="calcTime"></result>
        <result column="ear_amount" property="earAmount"></result>
        <result column="ear_time" property="earTime"></result>
        <result column="gszzl" property="gszzl"></result>
        <result column="gztime" property="gztime"></result>
        <result column="belong_name" property="belongName"></result>
    </resultMap>
    <select id="queryById" resultMap="BaseResultMap">
        select * from fund where id=#{id};
    </select>
    <select id="queryAll" resultMap="BaseResultMap">
        select * from fund where state = #{state};
    </select>
    <update id="updateFund">
        update fund set gszzl = #{gszzl}, gztime = #{gztime} where id = #{id}
    </update>
    <update id="updateCalcFund">
        update fund set calc_time=#{calcTime},calc_amount=#{calcAmount} where id = #{id}
    </update>
    <update id="updateEarFund">
        update fund set ear_time=#{earTime},ear_amount=#{earAmount} where id = #{id}
    </update>
    <select id="totalCalcAmount" resultType="java.math.BigDecimal" >
        SELECT SUM(calc_amount)-SUM(pay_amount) from fund where  belong_name = #{belongName} and state = 0 ;
    </select>

    <select id="totalAmount" resultType="java.math.BigDecimal" >
       select SUM(calc_amount) from fund where belong_name = #{belongName} and state in(0,1,-1);
    </select>
    <select id="totalAwaitAmount" resultType="java.math.BigDecimal" >
       select SUM(calc_amount) from fund where belong_name = #{belongName} and state in(1);
    </select>

    <select id="queryBalance" resultMap="BaseResultMap">
        select * from fund where state = -1 and belong_name = #{belongName}
    </select>
    <select id="totalEarAmount" resultType="java.math.BigDecimal" >
       select SUM(ear_amount) from fund where belong_name = #{belongName} and state = 0
    </select>
    <select id="totalDealAmount" resultType="java.math.BigDecimal" >
       select SUM(calc_amount) from fund where belong_name = #{belongName} and state = 0
    </select>
    <select id="queryByBelongName" resultMap="BaseResultMap">
        select * from fund where belong_name = #{belongName};
    </select>
    <select id="queryByBelongNameAndFundCode" resultMap="BaseResultMap">
        select * from fund where belong_name = #{belongName} and fund_code = #{fundCode} and state=0
    </select>

    <select id="todayEarAmount" resultType="java.math.BigDecimal" >
        SELECT SUM(ear_amount) FROM fund WHERE state = 0 AND belong_name = #{belongName} AND ear_time > DATE_FORMAT(SYSDATE(), '%Y-%m-%d')
    </select>


</mapper>